/* Stéphane Barthélemy (20084771) */
/* IFT1142 - TP3 */

html
{ 
  height: 100%;
}

*
{ margin: 0;
  padding: 0;
}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F0EFE2;
  color: #777;
}


.zoom {
  transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.card {
  margin: 10px;
  display: inline-block;
}
